# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# root package manager artifacts
/yarn.lock
/package-lock.json

# production
/dist/
/Dist/

# misc
.DS_Store
Thumbs.db
.eslintcache
*.tsbuildinfo

# umi
/src/.umi
/src/.umi-production
/src/.umi-test

# local env files
/.env
/.env.*
!/.env.example

# test
coverage

# temp
temp
bak

# ai tools
.codebuddy
.kiro
openspec
.codex
.claude
.cursor
.opencode
.trae
