
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <script type="text/javascript" src="//s.thsi.cn/cb?js/m/common/;zepto.js;basic.js;bridge.js;ijijin/js/;init.mobile.2.6.min.js"></script>
    <title>同花顺爱基金</title>
    <link rel="stylesheet" href="//s.thsi.cn/ijijin/css/common.mobile.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<style>
		body{
			background-color: #fff;
			color: #999;
		}
	</style>