
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="YES" />
    <script type="text/javascript" src="http://s.thsi.cn/cb?js/m/common/;zepto.js;basic.js;bridge.js;ijijin/js/;flexible.min.js&20161010"></script>
    <script type="text/javascript">
    if (getPlatform() == 'gphone') {
        try {
            callNativeHandler('webViewFontController', '{"fontsize":"0", "switch":"0"}', function(data) {});
        } catch (e) {};
    }
    </script>
    <script type="text/javascript" src="http://s.thsi.cn/cb?js/ta.min.js;js/m/common/user.js;js/m/business/;stat.js;ijijin/js/;ifund.basic.2.0.min.js;stat/ifundStat.1.0.min.js;stat/iStat.1.0.min.js&20161012"></script>
    <link rel="stylesheet" href="http://s.thsi.cn/ijijin/css/common.min.css">
    <link rel="stylesheet" href="style.css">
