/**
 * index.less -> index.html
 */

:global {
    body {
        background-color: #F5F5F8;
    }

    .u-app {
        position: absolute;
        box-sizing: border-box;
        width: 100vw;
        height: 100%;
    }
}